body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
main {
    margin-bottom: 40px;
}

/*Header*/
.page-header {
   margin:0;
   background-color: rgb(114, 205, 205);
   background-image: url(../img/pattern.png);
   background-size: cover;
   background-position: center;
}

.logo, main {
    margin-left: 10%;
    margin-right: 10%;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
}
    
/*Dimensioni generali paragrafi*/
p {
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
}

/*Spazi sezioni*/
.article-body {
    margin: 32px 0;
}


/*Titolo*/
.title-article {
    font-size: 34px;
    color: rgb(17, 17, 17);
    margin-bottom: 0;
    font-weight: 700;
    font-style: normal;
}

/*Autore e data*/
.author-article, .date-article {
    color: rgb(78, 78, 78);
}

.author-article {
    font-size: 14px;
}

.title span {
    color: blue;
}

.date-article {
    font-size: 12px;
}

/*img*/
.description-img {
    font-size: 12px;
}

/*paragrafo*/
.article-body span {
    background-color: rgb(248, 248, 7);
}



ul {
    margin: 24px 0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

/*tabella*/
table {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

thead {
    background-color: rgb(53, 137, 206);
    color: rgb(255, 255, 255);
}

.background-color-1 {
    background-color: rgb(211, 224, 234);
}

.background-color-2 {
    background-color: rgb(244, 244, 244);
}

.column-3 {
    width: 50%;
}

/*Footer*/
footer {
    background-color: rgb(52, 52, 104);
    padding: 24px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
}